* {
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

nav a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

 header nav {
    display: none;
}

.show {
    display: block;
    position:absolute;
    /* mit position absolute kann ich Dinge rausheben */
    top: 64px;
    /* der Header ist 64px, daher soll sich der Text 64px wegdrücken, damit er nicht mehr im oberen weißen Feld ist */
    background: #fff;
    width:100%;
    /* 50% -Breite vom Viewprotbreite */
    left: 0;
    /* hier left kein padding, da Balken und keine Text */
    height: calc(100vh - 64px);
    /* compi berechnet 100 % des viewports minus 64 px vom header */
    /* bei calc Leerstellen beachten */
    text-align: center;
    line-height: 2rem;
}

.show ul{
    padding: 0;
}
.overflow{
    overflow: hidden;
    /* diesen Code, weil cih nicht möchte, dass auf Handysicht von dort gecrollt wird; mann soll die Links von Home Repte Kategegorien etc. nutzen */
}





header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding-left: 1rem;
    padding-right: 1rem;
}

button {
    background: none;
    border: none;
}

#textmittig {
    background-image: url("img/intro.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #fff;
    color: #374A67;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 5px;
    border: 2px #374A67 solid;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.4s ease;
    margin-top: 1rem;
    display: inline-block;
}

.button:hover {
    color: #fff;
    background-color: #374A67;
    border-color: #fff;
    /* :hover der Doppelpunkt meldet ein Pseudoelement an, also, soll sich nur ändern, wenn der User mit der Maus drüber geht */
}

.card a {
    /* ich rede hier so mit allen Links in der Karte */
    text-decoration: none;
    /* tilgt die Unterstreichung */
    color: #000;
}

.card p a {
    /* alle as in p in einer Karte bekommen andere Farbe als die anderen a in der Karte */
    color: #b2b2b2;
    padding: 1rem;
    display: inline-block;
    /* da a ein inlineelement ist akzeptiert er keine margin,kein padding daher display: inline-block plus browserproblem */
    /* padding um den Text etwas einzurücken auf card */
}

.card {
    text-align: center;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    /* die width haben wir auf 40 % eingestellt, damit wir das mal auf dem screen anschaeun können */
    overflow: hidden;
    /* overflow hidden müssen wir dort einbauen, da das Bild sich nicht abrundet, sondern ein Überflußverhalten über die card hat, ich kann das zuviele einfach abschneiden */
    /* overflow-y: scroll; */
    /* Slider: liegen entwender alle hintereinander absolutpositionieren oder style="transform: translated3d" und overflow hidden(-) */
    margin: 1rem;
    /* Abstand zweischen den carden bei allen Formaten, cards klebten vorher aneinander und an der Seite */
}

.card img {
    width: 100%;
    /* Bild soll mitwachsen, wenn man die Karte größer macht */
}

.button.button-blue {
    color: #fff;
    background-color: #374A67;
    border-color: #fff;
    /* er hat hier alle Eigenschaften von oben button und button-blue */
    margin: 1rem;
    display: block;
}

.button.button-blue:hover {
    /* bedeutet alle element, die sowowhl Klasse button und button blue haben und wenn der user drüber geht */
    color: #374A67;
    background-color: #fff;
    border-color: #374a67;
}

#abo {
    display: inline-block;
}

.end {
    background-color: #04122B;
    color: white;
    text-align: center;
    padding: 2rem;
    /* Hintergund blau gemacht und Schrift weiß und zentriert */
}

input {
    height: 50px;
    width: 200px;
    border-radius: 5px;
    padding: 1rem;
}

.end h2 {
    font-size: 1rem;
    padding: 3rem;

}
#social ul{
    display: flex;
    justify-content: center;
    padding: 0;
    /* alle Listen haben standarmäßig Padding, muss man auschalten */
}
#social ul li{
        margin-left: 1rem;
/* icon gehen auseinander */
        font-size: 2rem;
        /* wir hatten hier ein iconfont eingebunden, daher font size, wäre Bild dann mit widht */
}

#legalcrap ul{
    text-align: center;
    /* text-align center verteilt Text auf vorhandenen Platz */
    /* icons reagieren nicht auf text-align, da sowieso sczhon in Boxen */
    padding: 0;
}



@media (min-width: 1024px) {
    header nav {
        display: block;
    }

    header button {
        display: none;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-right: 16px;
    }

    header {
        padding-left: 5%;
        padding-right: 5%;
    }

    .row {
        display: flex;
        /* display weil ich mit der Mutter row spreche; ich könnte auch float nehmen dann hätte ich card genommen */
    }

    .card {
        margin: 1rem;
        /* Abstand zwischen den Karten */
    }
    #footer{
        display: flex;
        justify-content: space-between;
        padding: 2rem 5%;
        /* liest von oben nach rechts, von 12 Uhr, 3 Uhr, 6 Uhr, 9 Uhr */
        /* justify-content:verteilt den Platz auf x-Achse,(alin-item auf y-Achse)wir bewegen uns auf x-Achse und wollen auseinander */
    }
